<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br />
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="text-danger">500</h1>
            <p class="text-warning">An error occurred while processing your request.</p>
        </div>
    </div>
</body>
</html>