
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="jumbotron">
    <div class="container text-center">
        <h1 class="text-danger">404</h1>
        <p class="text-warning">Ops! Error 404: Not Found</p>
    </div>
</div>

